@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
  display: block;
}

.auction {
  padding-top: 16rem;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  touch-action: pan-y !important;

  // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: rgba(var(--active-color), .1);
  @include trans();

  .inner {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    max-width: var(--max-width);
    padding: 0 5rem 0 0;

    margin: 0 auto;
  }

  @media (max-width: $small) {
    padding-top: calc(12rem + env(safe-area-inset-top));

    .inner {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0 2rem 2rem;

      phunk-image {
        transform-origin: 50% 100%;
        transform: scale(.5);
        height: 30rem !important;
      }
    }
  }
}
