<section
  class="auction"
  (swipeleft)="onSwipeLeft()"
  (swiperight)="onSwipeRight()">

  <div class="inner">
    <app-bid
      [currentAuction]="(activeAuction$ | async)">
    </app-bid>

    <phunk-image
      [currentAuction]="(activeAuction$ | async)"
      [dimensions]="{ width: 600, height: 600 }"
      [setActiveColor]="true">
    </phunk-image>

    <app-phunk-info
      [currentAuction]="(activeAuction$ | async)">
    </app-phunk-info>
  </div>
</section>

<app-auction-slider
  *ngIf="auctions$ | async as auctions"
  [auctionData]="auctions"
  [currentAuction]="(activeAuction$ | async)">
</app-auction-slider>

